<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Absences</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Toate absentele</h1>

    <ul style="list-style-type: none; padding: 0;">
        <li><strong>Data --- Materie --- Motivat</strong></li>
        {% for absence in absences %}
            <li>{{ absence[0].strftime('%Y-%m-%d') }}, {{ absence[1] }}, {{ absence[2] }}</li>
        {% endfor %}
    </ul>

    <br><br>
    <a href="/dashboard">Back to Dashboard</a>
</body>
</html>
