<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <h1>Buna ziua, {{ session['username'].split('@')[0] }}!</h1>
    </header>

    <form action="/subjects_above_avg_in_class" method="post">
        <label for="classNameMin">Nume Clasa:</label>
        <input type="text" id="classNameMin" name="classNameMin" required>
        <br>
        <label for="gradeMin">Medie minima:</label>
        <input type="number" id="gradeMin" name="gradeMin" required>
        <br>
        <button type="submit">Genereaza Raport</button>
    </form>

    {% if reports and total_subjects %}
        <h2>Raport pentru clasa: {{ request.form['classNameMin'] }}</h2>
        <h2>Raport pentru media minima: {{ request.form['gradeMin'] }}</h2>

        <canvas id="pieChart" width="400" height="400"></canvas>

        <script>
            var data = [{{ reports[0]|int }}, {{ total_subjects - reports[0]|int }}];
            var ctx = document.getElementById('pieChart').getContext('2d');
            var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Materii peste media minima', 'Materii sub media minima'],
                    datasets: [{
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                        ],
                    }]
                },
                options: {
                    responsive: false,
                    maintainAspectRatio: false,
                }
            });
        </script>
    {% endif %}

    <br><br>
    <a href="/dashboard">Back to Dashboard</a>
</body>
</html>
